@charset "UFT-8";

/*configurações para telas grandes*/




section{
    padding-top: 15vh;
    padding-bottom: 15vh;
    line-height: 1.3em;
    padding-left: 40px;
    font-size: 1.3em;
}

section#normal{
    padding-left: 15px;
    padding-right: 15px;  
    
}



section.imagem>p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    padding: 8px;
    text-shadow: 1px 1px 0px black;
}

section#img05{
    background-image: url(../imagens/foto-5.jpg);
    background-position: bottom;
    background-size: cover;
    height: 210px;
    
}

section#img06{
    background-image: url(../imagens/foto-6.jpg);
    background-position: center;
    background-size: cover;
    height: 210px
}

section#img07{
    background-image: url(../imagens/foto-7.jpg);
    background-position: center;
    background-size: cover;
    height: 340px;
}

section#img08{
    background-image: url(../imagens/foto-8.jpg);
    background-position: center;
    background-size: cover;
    height: 210px;
}

section#img09{
    background-image: url(../imagens/foto-9.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
}

section#img10{
    background-image: url(../imagens/foto-10.jpg);
    background-position: center;
    background-size: cover;
    height: 210px;
}

section#img11{
    background-image: url(../imagens/foto-11.jpg);
    background-position: center;
    background-size: cover;
    height: 210px;
}

section#img12{
    background-image: url(../imagens/foto-12.jpg);
    background-position: center;
    background-size: cover;
    height: 210px;
}

section#img13{
    background-image: url(../imagens/foto-13.jpg);
    background-position: center;
    background-size: cover;
    height: 210px;
}

section#img14{
    background-image: url(../imagens/foto-14.jpg);
    background-position: center;
    background-size: cover;
    height: 210px;
}



