@charset "UFT-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body,html{
    background-color: gray;
}

header{
    background-color: rgb(240, 228, 8);
    text-align: center;
    padding: 40px;
}

nav{ 
    background-color: rgb(240, 228, 8);
    padding: 20px;
}

nav>a{
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.496);
    border-radius: 10px;
    font-weight: bolder;
    color: black;
}

nav>a:hover{
  background-color: rgb(176, 164, 35);
}


main{
    background-color: rgb(255, 119, 0);
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
}

section#entrada>div#imagem-1{
    display: block;
    background: url(../imagens/foto-1.jpg) no-repeat;
    height: 250px;
    background-size: cover;
    background-position: bottom;
    border-radius: 25px 25px 0px 0px;
}

section#entrada>div#imagem-2{
    display: block;
    background: url(../imagens/foto-2.jpg);
    height: 250px;
    background-size: cover;
    background-position: bottom left;
    border-radius: 25px 25px 0px 0px;
}

section#entrada>div#imagem-3{
    display: block;
    background: url(../imagens/foto-3.jpg);
    height: 250px;
    background-size: cover;
    background-position: bottom;
    border-radius: 25px 25px 0px 0px;
}

section#entrada>div#formulario{
    display: block;
    padding: 50px;
}

div#formulario>h1{
    text-align: center;
    margin-bottom: 35px;
}

div#formulario>input{
    background-color: #d17e37;
    padding: 20px;
    height: 100%;
    width: 100%;
    border: 0px;
    border-radius: 25px;
    font-size: 1em;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.557);
}

div#formulario>input:hover{
    background-color: #fe5d18;
}
